  <section class="hero container">
    <h1>VIND EEN GYM IN DE BUURT !</h1>
    <form [formGroup]="form" (ngSubmit)="onSearchSubmit()" class="mb-5">
      <div class="search-bar d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 20 20" fill="none">
          <path fill="white" fill-rule="evenodd" d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"/>
        </svg>
        <div class="form-group">
          <input type="text" formControlName="query" class="form-control" placeholder="Zoek een gym" required /> 
        </div>
        <button class="btn" type="submit">Zoeken</button>
      </div>
    </form>
    <motivation></motivation>
  </section>
  <card-list type="category" [items]="gymCategories" title="Categorieën"></card-list>
  <section class="dark-container mb-5 pb-2 pt-2">
      <card-list type="gym" [items]="gyms" title="Populaire Gyms" ></card-list>
  </section>
  <section class="register-container container text-center">      

    <div class="content">        
      <div class="register-info">
        <p>Word lid van onze community en ontdek de beste gyms in jouw buurt.</p>
        <button class="btn m-auto" routerLink="/register">Registreer</button>
      </div>
    </div>
  </section>
