.hero {
    margin-bottom: 2rem;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .search-bar {
            position: relative;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: 0.5rem;
            }
            input {
                background-color: var(--primary-color);
                color: white;
                padding: 0.5rem;
                padding-left: 2.5rem;
                border-radius: var(--large-border-radius);
                width: 30rem;
                max-width: 100%;
                box-sizing: border-box;
            }
            button {
                position: absolute;
                right: 0.5rem;
            }
        }
    }
    .motivation-container {
        max-width: 75rem;
        margin: 0 auto;
        margin-top: 1.5rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 1rem;
        border-radius: var(--standard-border-radius);
        .author {
            position: relative;
            img {
                width: 30rem;
            }
            margin-right: 1rem;
            p {
                position: absolute;
                background-color: var(--tertiary-color);
                bottom: 0;
                left: 1rem;
                padding: 0.5rem;
                border-radius: var(--standard-border-radius);
                font-weight: bold;
            }
            border-right: 1px solid var(--secondary-color);
            padding-right: 2rem;
        }
        .motivation-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            h2 {
                display: block;
                text-align: center;
                font-family: 'Archivo', sans-serif;
                font-size: 2rem;
                width: auto;
                font-weight: 600;
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 1.5rem;
                font-family: 'Work Sans', sans-serif;
            }
            button {
                &:hover {
                    color: var(--primary-color);
                }
                font-size: 1.2rem;
            }
        }
    }
}

.register-container {
    .content {
        display: flex;
        justify-content: center;
        .register-info {
            font-weight: 800;
            font-size: 4rem;
            width: 100%;
            max-width: 70rem;
            text-align: center;
            letter-spacing: -6px;
            line-height: 1.2;
            margin-right: 2rem;
            p {
                margin-bottom: 1rem;
            }

        }
        margin-bottom: 2rem;
    }
}


@media (max-width: 1700px) {
 
  }

  @media (max-width: 1024px) {
    main {
        & .no-user-container {
            & h2 {
                font-size: 2.5rem;
            }
            & p {
                font-size: 1.5rem;
            }
        }
        & .for-you-container {
            grid-template-columns: 15rem 15rem 15rem;
           display: flex;
           flex-direction: column;
           align-items: center;
           & .for-you-container__title {
                & h2 {
                     font-size: 2.5rem;
                     width: 20rem;
                     transform:  rotate(0deg);
                     text-align: center;
                     background-color: var(--primary-color);
                     position: relative;
                     top: 0;
                     left: 0;
                     border-radius: var(--standard-border-radius);
                }
           }
           & .tags-container {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;          
              & .tags-container__title {
                & h2 {
                       position: relative;
                top:0;
                left: 0;
                margin-left: 1rem;
                }
             
            }
            & .tags {
                display:flex;
                gap: 1rem;
            }
           }
        }
    }
   
  }

  @media (max-width: 480px) {
    .hero {
        form {
            .search-bar {
                display: flex;
                flex-direction: column;
                position: relative;
                svg {
                    top: 21%;
                    transform: translateY(-50%);
                }
                input {
                    width: 20rem;
                }
                .btn {
                    position: relative;
                    width: 100%;
                    margin-top: 1rem;
                    padding: 0.5rem;
                }
            }
            
        }
        .motivation-container {
            
            .author  {
                border-right: none;
                margin: 0;
                padding: 0;
                img {
                    width: 100%
                }
            }
            .motivation-text {
                h2 {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    padding: 0;
                }
            }
        }
    }
    .register-container {
        .content {
            .register-info {
                font-size: 2rem;
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                text-align: center;
                p {
                    font-size: 1.58rem;
                    letter-spacing: -2px;
                }
            }
        }
    }
}