.hero {
    margin-bottom: 2rem;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .search-bar {
            position: relative;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: 0.5rem;
            }
            .form-group {
                input {
                    background-color: var(--primary-color);
                    color: white;
                    padding: 0.5rem;
                    padding-left: 2.5rem;
                    border-radius: var(--large-border-radius);
                    width: 30rem;
                    max-width: 100%;
                    box-sizing: border-box;
                    &::placeholder {
                        color: #ccc;
                    }
                }
            }
            button {
                position: absolute;
                right: 0.5rem;
            }
        }
    }
}

.register-container {
    .content {
        display: flex;
        justify-content: center;
        .register-info {
            font-weight: 800;
            font-size: 4rem;
            width: 100%;
            max-width: 70rem;
            text-align: center;
            letter-spacing: -6px;
            line-height: 1.2;
            margin-right: 2rem;
            p {
                margin-bottom: 1rem;
            }

        }
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .hero {
        form {
            .search-bar {
                display: flex;
                flex-direction: column;
                position: relative;
                svg {
                    top: 21%;
                    transform: translateY(-50%);
                }
                .form-group {
                    input {
                        width: 20rem;
                    } 
                }
                .btn {
                    position: relative;
                    width: 100%;
                    margin-top: 1rem;
                    padding: 0.5rem;
                }
            }
            
        }
    }
    .register-container {
        .content {
            .register-info {
                font-size: 2rem;
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                text-align: center;
                p {
                    font-size: 1.58rem;
                    letter-spacing: -2px;
                }
            }
        }
    }
}