<main>    
    <app-hero-home></app-hero-home> 
    <div class="saved-gyms-container">
        <div *ngIf="userId">
            <h3>📂 Your Saved Gyms</h3>
            <p *ngIf="savedGyms.length === 0">You have no saved gyms.</p>
            <div *ngFor="let gym of savedGyms">
              <h4>{{ gym.name }}</h4>
              <p>{{ gym.city }}</p>
            </div>
          </div>

          <div class="no-user-container" *ngIf="!userId">
            <h2> <img src="/images/user-solid (1).svg" alt="Avatar">Inloggen om je opgeslagen gyms te bekijken</h2>
            <p><a routerLink="/login">Log u in</a></p>
            <p><span></span>OF <span></span></p>
            <p><a routerLink="/register">Registreer</a></p>
          </div>
    </div>
</main>