<div class="login_register-container">
  <div class="backgroundimg">
    <img [src]="backgroundImg" alt="Running img">
  </div>

  <div class="form-container">
    <div class="form-title">
      <h1>Gymly</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <div *ngIf="form.errors" class="alert alert-danger">   
            <div *ngIf="form.errors?.['invalidLogin']">
                Verkeerde email of wachtwoord
            </div>
        </div>
      <div class="form-group">
        <input type="email" id="email" formControlName="email" required placeholder="Email">
        <div *ngIf="email?.touched && email?.invalid" class="form-text text-danger">
            <div *ngIf="email?.errors?.['required']">Email is verplicht.</div>
            <div *ngIf="email?.errors?.['email']">Ongeldig emailadres.</div>
            
          </div>
      </div>
      <div class="form-group">
        <input type="password" id="password" formControlName="password" required placeholder="Wachtwoord">
        <div *ngIf="password?.touched && password?.invalid" class="form-text text-danger">
            <div *ngIf="password?.errors?.['required']">Wachtwoord is verplicht.</div>
            <div *ngIf="password?.errors?.['invalidPassword']">Wachtwoord is onjuist.</div>
          </div>
      </div>
      <button type="submit"><p>Login</p></button>
    </form>

    <p>{{ message }}</p> 

    <p><span></span>of <span></span></p>
    <p><a routerLink="/register" routerLinkActive="active">Registreer</a></p>
  </div>
</div>
