<div class="login_register-container">
  <div class="backgroundimg">
    <img [src]="backgroundImg" alt="Running img">
  </div>

  <div class="form-container">
    <div class="form-title">
      <h1>Gymly</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <input type="email" id="email" formControlName="email" required placeholder="Email">
      <input type="password" id="password" formControlName="password" required placeholder="Wachtwoord">
      <button type="submit"><p>Login</p></button>
    </form>

    <p>{{ message }}</p> 

    <p><span></span>of <span></span></p>
    <p><a routerLink="/register" routerLinkActive="active">Registreer</a></p>
  </div>
</div>
