
    ul {
        padding: 0;
        padding-bottom: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        
        li {
            width: 16rem;                
            a {
                display: block;
                position: relative;

                span {
                    position: absolute;
                    font-family: 'Archivo', sans-serif;
                    color: var(--secondary-color);
                    font-weight: bold;
                    bottom: 2%;
                    left: 10%;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    z-index: 1;
                }
                img {
                    filter: brightness(0.7);
                    transition: filter 0.3s ease-in-out;
                    aspect-ratio: 1 / 1;
                    width: 100%;
                    object-fit: cover;
                    border-radius: var(--standard-border-radius);
                    &:hover {
                        filter: brightness(.9);
                        transition: filter 0.3s ease-in-out;
                    }
                }
            }
            p {
                font-family: 'Archivo', sans-serif;
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: var(--secondary-color);
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    color: var(--primary-color);
                    fill: var(--white)
                }
            }
        }
    }
@media (max-width: 1200px) {
    ul {
        li {
            width: 10rem;
            flex: 1;
        }
    }
}
@media (max-width: 992px) {
    ul {
        justify-content: center;
        li {
            width: 22rem;
            flex: none;
        }
    }
}

@media (max-width: 576px) {
    
    ul {
        flex-wrap: nowrap;
        display: grid;
        justify-content: start;
        grid-auto-flow: column;
        gap: 1rem;
        grid-auto-columns: 65%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;  
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            flex: 0 0 auto;    
            width: 200px;      
            scroll-snap-align: start;
        }
    }
}