<section class="gyms-container d-flex">
  <form [formGroup]="form" class="gyms-container container">
    <div class="gyms-content">
      <div class="search-input">
        <input formControlName="search" placeholder="Search gyms..." class="search-box">
      </div>

      <div class="gyms-content__items d-flex">
        <div class="filter-sidebar">
          <h3>Filters</h3>

          <label for="province">Kies een provincie</label>
          <select id="province" formControlName="province">
            <option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
          </select>

          <label for="city">Kies een stad</label>
          <select id="city" formControlName="city">
            <option value="Gent">Gent</option>
            <option value="Deinze">Deinze</option>
          </select>

          <label for="rating">Kies een rating</label>
          <select id="rating" formControlName="rating">
            <option value="1/5">1/5</option>
            <option value="2/5">2/5</option>
            <option value="3/5">3/5</option>
            <option value="4/5">4/5</option>
            <option value="5/5">5/5</option>
          </select>

          <label for="type">Type Gym</label>
          <select id="type" formControlName="type">
            <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
          </select>

          <label>Personal Trainer</label>
          <div class="personal-trainer-options">
            <input type="radio" id="personal-trainer-yes" formControlName="personalTrainer" value="1">
            <label for="personal-trainer-yes">JA</label>

            <input type="radio" id="personal-trainer-no" formControlName="personalTrainer" value="0">
            <label for="personal-trainer-no">NEE</label>
          </div>
          <button type="button" class="reset-btn btn" (click)="resetFilters()">Reset filters</button>
        </div>
        <info-card [items]="[filteredGyms]" type="gym"></info-card>
        <div *ngIf="filteredGyms.length === 0">
          <h2 class="no-results">No gyms found...</h2>
        </div>
      </div>
    </div>
  </form>
</section>


