
  <form [formGroup]="form" (ngSubmit)="addExercise()" class="container">

  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="exercise_category_id">Category</label>
    <select formControlName="exercise_category_id" class="form-control">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="pressure_id">Pressure</label>
    <select formControlName="pressure_id" class="form-control">
      <option *ngFor="let pressure of pressures" [value]="pressure.id">
        {{ pressure.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="big_description">Description</label>
    <textarea formControlName="big_description" id="big_description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="duration">Duration (in minutes)</label>
    <input formControlName="duration" id="duration" type="number" class="form-control" required min="1">
  </div>
  <div class="form-group">
    <label for="image">Upload Images</label>
    <input class="form-control" type="file" (change)="onImagesSelected($event)" accept="image/*" name="images" multiple required />

  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>

</form>

