.hero-home-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;

 & h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 6rem;
    text-align: center;
    letter-spacing: -4px;
    word-break: break-word;
  }

 & form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

   & input {
      background-color: var(--primary-color);
      color: white;
      padding: 0.5rem;
      padding-left: 1rem;
      border-radius: var(--large-border-radius);
      width: 30rem;
      max-width: 100%;
      box-sizing: border-box;
    }

   & button {
      border-radius: 50%;
      background-color: var(--primary-color);
      padding: 0.5rem;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

     & img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 1700px) {
    & .hero-home-container {
     background-color: var(--primary-color);
    }
   & h1 {
      font-size: 5rem;
      letter-spacing: -3px;
    }

   & form input {
      width: 28rem;
    }
  }

  @media (max-width: 1024px) {
   & h1  {
      font-size: 3.5rem;
      letter-spacing: -2px;
    }
    & .category-container {
      & h2 {
        font-size: 2rem;
      }
    }

   & form {
    display: flex;
      flex-direction: row;
      gap: 1rem;
    }

   

   & form button {
      margin-left: 0;
    }
  }

  @media (max-width: 480px) {
   & h1 {
      font-size: 3rem;
      letter-spacing: -1px;
    }

    & form input {
      width: 100%;
    }

   & form button {
      padding: 0.6rem;
    }
  }
}
