.hero-home-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;

  & h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 6rem;
    text-align: center;
    letter-spacing: -4px;
  }

  & form {
    display: flex;
    align-items: center;
    justify-content: center;

    & input {
      background-color: var(--primary-color);
      color: white;
      padding: 0.5rem;
      border-radius: var(--large-border-radius);
      padding-left: 1rem;
      width: 30rem;
    }

    & button {
      border-radius: 50%;
      background-color: var(--primary-color);
      padding: 0.5rem;
      margin-left: 1rem;

      & img {
        width: 1.5rem;
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 1024px) {
    /* Laptop screens */
    & h1 {
      font-size: 5rem;
      letter-spacing: -3px;
    }

    & input {
      width: 28rem;
    }
  }

  @media (max-width: 768px) {
    /* Tablet screens */
    & h1 {
      font-size: 4rem;
      letter-spacing: -2px;
    }

    & form {
      flex-direction: column;
      gap: 1rem;
    }

    & input {
      width: 80%;
    }

    & button {
      padding: 0.7rem;
      margin-left: 0;
    }
  }

  @media (max-width: 480px) {
    /* Phone screens */
    & h1 {
      font-size: 3rem;
      letter-spacing: -1px;
    }

    & input {
      width: 90%;
    }

    & button {
      padding: 0.6rem;
    }
  }
}
