.list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    .item-card {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        img {
            border-radius: var(--standard-border-radius);
            width: 15rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        .item-details {                
            color: var(--primary-color);
            font-family: 'Work Sans', sans-serif;
            h2 {
                background-color: var(--white);
                color: var(--primary-color);
                padding-left: 0rem;
                font-size: 1.5rem;
                margin: 0;
            }
            p {
                margin: 0;
                font-size: 1.2rem;
                line-height: 1.3;
                svg {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: var(--primary-color);
                }
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
            a {
                & .btn {
                    margin-left: 0;
                    margin-top: 1rem;
                    &:hover {
                        border: 1px solid var(--primary-color);
                    }
                }
            }
            .btn {
                padding: 0.5rem 1rem;
                margin-top: 0.5rem;
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .list-container {
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: start;
        justify-content: center;
        gap: 1rem;
        .item-card {
            width: 17rem;
            img {
                width: 100%;
            }
            .item-details {
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1rem;
                }
                .d-flex {
                    flex-direction: column;
                    &.custom-btn__exercise {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .btn {
                            margin-left: 0;
                            margin-top: 1rem;
                        }
                    }
                    .btn {
                        margin-top: 0.5rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .list-container {
        align-items: center;
        justify-content: center;
        .item-card {
            width: 100%;
            h2 {
                text-align: start;
            }
            .btn {
                text-align: center;
                width: 100%;
            }
        }
    }
}