.category-container {
    text-align: center;
    padding: 20px;
  }
  
  .category-card {
    display: inline-block;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
  }

  .category-container {
    & h2 {
      font-family: 'Archivo', sans-serif;
      font-size: 4rem;
      letter-spacing: -3px;
    }
    & .category-card {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border-radius: var(--large-border-radius);
    }
  }