.user-profile-container {
    
    & h1, h2 {
        font-family: 'Archivo', sans-serif;  
        text-align: center;
        text-transform: uppercase;
        font-size:5rem;
        letter-spacing: -0.25rem;
        padding-bottom: 22rem;        
        /* <img *ngIf="user?.profile_image" [src]="getProfileImageUrl(user.profile_image)" alt="User Profile"> */
    }
    & img {
        max-width: 20rem;
        height: 20rem;
        object-fit: cover;  
        border-radius: 50%;
        margin: var(--standard-padding_margin) auto;
        display: block;
        z-index: 1;
        position: relative;
        position:absolute;
        transform: translate(-50%, -50%);
        top: 48%;
        left: 50%;
    }
  
    & .personal-info-container  {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        transform: translateY(-18%);
         & h2 {
             padding-bottom: 1rem;
             margin-bottom: 2rem;
         }
        & .user-description {
            margin-top: 1rem;
            font-size: 1.5rem;
            width: 100%;
max-width:var(--max-width);
            margin: var(--standard-padding_margin) auto;
            padding: var(--standard-padding_margin);
            border-radius: var(--standard-border-radius);
            font-family: 'Work Sans', sans-serif;
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: 12rem;
            & .username {
                font-weight: bold;
                text-align: center;
                font-size: 4rem;
            }
            & p {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 3rem;
                font-family: 'Archivo', sans-serif;
                gap: .5rem;
                margin-bottom: .5rem;
                & svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
       }
} 
