.user-profile-container {
    
    & h1, h2 {
        font-family: 'Archivo', sans-serif;  
        text-align: center;
        text-transform: uppercase;
        font-size:5rem;
        letter-spacing: -0.25rem;
        padding-bottom: 18rem;        
        /* <img *ngIf="user?.profile_image" [src]="getProfileImageUrl(user.profile_image)" alt="User Profile"> */
    }
    & img {
        max-width: 20rem;
        height: 20rem;
        object-fit: cover;  
        border-radius: 50%;
        margin: var(--standard-padding_margin) auto;
        display: block;
        z-index: 1;
        position: relative;
        position:absolute;
        transform: translate(-50%, -50%);
        top: 48%;
        left: 50%;
    }
  
    & .personal-info-container  {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        transform: translateY(-18%);
        & .edit-container {
            width: 100%;
            max-width: var(--max-width);
            margin: 0 auto;
            padding-bottom: 2rem;
            & form {
                margin-top: 2rem;
                background-color: var(--secondary-color);
                color: var(--primary-color);
                padding: var(--standard-padding_margin);
                border-radius: var(--standard-border-radius);
                display: flex;
                gap: 1rem;
             & .save-btn {
                font-size: 1.5rem;
                width:13rem
             }
             & label {
                font-family: 'Archivo', sans-serif;
                
             }
                & input {
                    width: 100%;
                    padding: .5rem;
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    border: 1px solid var(--secondary-color);
                    border-radius: var(--large-border-radius);
                    font-family:"Archivo", sans-serif;
                    transition: all .3s ease;

                    &:hover {
                        background-color: var(--secondary-color);
                        color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        transition: all .3s ease;
                    }
                }
            }
            & button  {
                font-family: 'Archivo', sans-serif;
                font-size: 2rem;    
                background-color: var(--secondary-color);
                color: var(--primary-color);
                padding: .5rem;
                border-radius: var(--standard-border-radius);
                border: 1px solid var(--primary-color);
                transition: all .3s ease;

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    border: 1px solid var(--secondary-color);
                    transform:translateY(-.5rem);
                    transition: all .3s ease;
                }

            }
        }
         & h2 {
             padding-bottom: 1rem;
             margin-bottom: 2rem;
         }
        & .user-description {
            margin-top: 1rem;
            font-size: 1.5rem;
            width: 100%;
max-width:var(--max-width);
            margin: var(--standard-padding_margin) auto;
            padding: var(--standard-padding_margin);
            border-radius: var(--standard-border-radius);
            font-family: 'Work Sans', sans-serif;
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: 12rem;
            padding-bottom: 0;
            & .username {
                font-weight: bold;
                text-align: center;
                font-size: 4rem;
            }
            & p {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 3rem;
                font-family: 'Archivo', sans-serif;
                gap: .5rem;
                margin-bottom: .5rem;
                & svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
       }
} 
