<header>
    <nav>
        <p class="logo"><a routerLink="/" routerActive="active">gymly</a></p>
        <ul>
            <li><a routerLink="/" routerActive="active">Home</a></li>
            <li><a routerLink="/gyms" routerActive="active">Gyms</a></li>
            <li><a href="/oefeningen">Oefeningen</a></li>
            <li><a href="/about">Over ons</a></li>
            <li *ngIf="user?.role === 'admin'">
                <p><a routerLink="/admin">Admin Dashboard</a></p>
              </li>
              <li *ngIf="user">
                <div class="user-info-container">
                  <p><a [routerLink]="['/user-profile', user.id]">Welkom, {{ user.username }}</a></p>
                  <img *ngIf="user?.profile_image" [src]="user.profile_image" alt="Profile Image" class="profile-img">

                  <button (click)="logout()">Logout</button>
                </div>
                
              </li>
              <li *ngIf="!user">
                <p><a routerLink="/login" routerActive="active">Login</a></p>
              </li>

        </ul>
    </nav>
</header>
