<header>
    <nav>
        <p class="logo"><a href="/">gymly</a></p>
        <ul>
            <li><p><a routerLink="/home" routerLinkActive="active">Home</a></p></li>
            <li><p><a routerLink="/gyms" routerLinkActive="active">Gyms</a></p></li>
            <li><p><a routerLink="/oefeningen" routerLinkActive="active">Oefeningen</a></p></li>
            <li><p><a routerLink="/about" routerLinkActive="active">Over ons </a></p></li>
            <li><p><a routerLink="/Login" routerLinkActive="active">Login</a></p></li>
        </ul>
    </nav>
</header>