header {
  background-color: var(--tertiary-color);
  padding: 10px;
  border-bottom: 3px solid #000000;
  color: white;
  width: 100%;

  nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    .menu-button {
      display: none;
    }

    .logo {
      font-family: 'Anton', sans-serif;
      text-transform: uppercase;
      font-size: 2.5rem;
    }

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: all 0.3s ease-in-out;

      li {
        .user-info-container {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-family: 'Work Sans', sans-serif;
          font-size: 1.5rem;
          background-color: var(--secondary-color);
          padding: 0.5rem;
          border-radius: 5px;
          color: var(--tertiary-color);
          font-weight: bold;
        }

        p {
          margin-bottom: 0;
        }

        a {
          font-size: 1.5rem;
          font-family: 'Work Sans', sans-serif;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 983px) {
      .menu-button {
        display: block;
        z-index: 2000;
        background-color: var(--secondary-color) !important;
        width: 3.125rem;
        height: 3.125rem;
      }

      ul {
        position: fixed;               
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        background-color: var(--tertiary-color);
        padding: 1rem;
        gap: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease, transform 0.4s ease, visibility 0.4s;
        pointer-events: none;
      }

      ul.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(7rem);
        pointer-events: auto;
        padding-bottom: 1rem;
      }
    }
  }

  @media (max-width: 576px) {
    nav {
      position: relative;

      .menu-button {
        position: absolute;
        right: 1rem;
        z-index: 2000;
      }
    }
  }
}
