form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    & input {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    padding: 1rem;
    width:100%;
    max-width: var(--max-width);
    margin: 0 auto;
    
}