<div class="add-gym-container">
  <form [formGroup]="form" (ngSubmit)="addGym()" enctype="multipart/form-data">
    <input class="form-control" type="text" formControlName="name" placeholder="Gym Name" required />
    <input class="form-control" type="text" formControlName="city" placeholder="City" required />
    <input class="form-control" type="number" formControlName="rating" placeholder="Rating (1-5)" required />
    <input class="form-control" type="text" formControlName="opening_hours" placeholder="Opening Hours" required />
    <input class="form-control" type="text" formControlName="address" placeholder="Address" required />
    Personal Trainer Available
    <input class="form-control" type="checkbox" formControlName="personal_trainer" />

    <input class="form-control" type="email" formControlName="email" placeholder="Email" required />
    <input class="form-control" type="text" formControlName="phone" placeholder="Phone" required />
    <input class="form-control" type="url" formControlName="website" placeholder="Website" required />

    <label>Pressure Type:</label>
    <select formControlName="pressure_id" required>
      <option *ngFor="let pressure of pressures" [value]="pressure.id">{{ pressure.name }}</option>
    </select>

    <label>Category:</label>
    <select formControlName="category_id" required>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>

    <label>Pricing Plans:</label>

  <div style="margin-bottom: 10px;">
    <input class="form-control" type="number" name="priceOne" placeholder="Price" formControlName="priceOne" required />
    <input class="form-control" type="text" name="descriptionOne" placeholder="Description" formControlName="descriptionOne" required />
    <input class="form-control" type="text" name="planTypeOne" placeholder="Plan Type" formControlName="planTypeOne" required />
  </div>

  <div style="margin-bottom: 10px;">
    <input class="form-control" type="number" name="priceTwo" placeholder="Price" formControlName="priceTwo" required />
    <input class="form-control" type="text" name="descriptionTwo" placeholder="Description" formControlName="descriptionTwo" required />
    <input class="form-control" type="text" name="planTypeTwo" placeholder="Plan Type" formControlName="planTypeTwo" required />
  </div>

  <div style="margin-bottom: 10px;">
    <input class="form-control" type="number" name="priceThree" placeholder="Price" formControlName="priceThree" required />
    <input class="form-control" type="text" name="descriptionThree" placeholder="Description" formControlName="descriptionThree" required />
    <input class="form-control" type="text" name="planTypeThree" placeholder="Plan Type" formControlName="planTypeThree" required />
  </div>

    <label for="province">Select Province:</label>
  <select formControlName="province_id" required>
    <option *ngFor="let province of provinces" [value]="province.id">
      {{ province.name }}
    </option>
  </select>

    <label>Gym Logo:</label>
    <input class="form-control" type="file" (change)="onLogoSelected($event)" accept="image/*" name="logo" required />

    <label>Gallery Images:</label>
    <input class="form-control" type="file" (change)="onImagesSelected($event)" accept="image/*" name="images" multiple required />

    <button type="submit">Add Gym</button>
</form>
</div>

