<div class="add-gym-container">
  <form (ngSubmit)="addGym()" enctype="multipart/form-data">
  <input type="text" [(ngModel)]="gymData.name" name="name" placeholder="Gym Name" required />
  <input type="text" [(ngModel)]="gymData.city" name="city" placeholder="City" required />
  <input type="number" [(ngModel)]="gymData.rating" name="rating" placeholder="Rating (1-5)" required />
  <input type="text" [(ngModel)]="gymData.opening_hours" name="opening_hours" placeholder="Opening Hours" required />
  <input type="text" [(ngModel)]="gymData.address" name="address" placeholder="Address" required /> 
  Personal Trainer Available
  <input type="checkbox" [(ngModel)]="gymData.personal_trainer" name="personal_trainer" />

  <input type="email" [(ngModel)]="gymData.email" name="email" placeholder="Email" required />
  <input type="text" [(ngModel)]="gymData.phone" name="phone" placeholder="Phone" required />
  <input type="url" [(ngModel)]="gymData.website" name="website" placeholder="Website" required />

  <label>Pressure Type:</label>
  <select [(ngModel)]="gymData.pressure_id" name="pressure_id" required>
    <option *ngFor="let pressure of pressures" [value]="pressure.id">{{ pressure.name }}</option>
  </select>

  <label>Category:</label>
  <select [(ngModel)]="gymData.category_id" name="category_id" required>
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>

  <label>Pricing Plans:</label>

 <div style="margin-bottom: 10px;">
  <input type="number" name="priceOne" placeholder="Price" required />
  <input type="text" name="descriptionOne" placeholder="Description" required />
  <input type="text" name="planTypeOne" placeholder="Plan Type" required />
</div>

<div style="margin-bottom: 10px;">
  <input type="number" name="priceTwo" placeholder="Price" required />
  <input type="text" name="descriptionTwo" placeholder="Description" required />
  <input type="text" name="planTypeTwo" placeholder="Plan Type" required />
</div>

<div style="margin-bottom: 10px;">
  <input type="number" name="priceThree" placeholder="Price" required />
  <input type="text" name="descriptionThree" placeholder="Description" required />
  <input type="text" name="planTypeThree" placeholder="Plan Type" required />
</div>

  <div *ngFor="let province of provinces">
    {{ provinces | json }}
  </div>

  <label>Gym Logo:</label>
  <input type="file" (change)="onLogoSelected($event)" accept="image/*" name="logo" required />

  <label>Gallery Images:</label>
  <input type="file" (change)="onImagesSelected($event)" accept="image/*" name="images" multiple required />

  <button type="submit">Add Gym</button>
</form>
</div>

