form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    & input {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    padding: 1rem;
    width:100%;
    max-width: var(--max-width);
    margin: 0 auto;
    
}
.add-gym-container {
    & form {
        & input {
            display: flex;
        }
        margin-bottom: 1.25rem;
        border-radius: 0.3125rem;
        & button {
            background-color: var(--secondary-color);
            color: var(--primary-color);
            font-family: "Archivo", sans-serif;
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 0.3125rem;
        }
    }
}