:root{
    --width: 100%;
    --max-width: 90%;
    --standard-padding_margin: 1.25rem;
    --standard-border-radius: 0.25rem;
    --primary-color: #28282B;
    --secondary-color: #F2F3F4;
    --tertiary-color: #2F2F76;
    
}

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('../fonts/ArchivoBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Italic.woff2') format('woff2'),
        url('../fonts/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

