:root{
    --width: 100%;
    --max-width: 90%;
    --standard-padding_margin: 1.25rem;
    --standard-border-radius: 1rem;
    --large-border-radius: 4rem;
    --primary-color: #28282B;
    --secondary-color: #F2F3F4;
    --tertiary-color: #2F2F76;
    --white: #FFFFFF;
    
}

.container {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--standard-padding_margin);
}
.btn {
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    border-radius: var(--large-border-radius);
    padding: 0.25rem 1rem;
    font-weight: bold;
    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
    &.btn-large {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}
.dark-container {
    background-color: var(--primary-color);
}
h1 {
        font-family: 'Archivo', sans-serif;
        font-size: 5.8rem;
        text-align: center;
        letter-spacing: -4px;
        word-break: break-word;
    }
h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 2.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: inline-block;
    padding: 0.5rem 1rem;
}
ul {
    padding: 0;
}
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('../fonts/ArchivoBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Italic.woff2') format('woff2'),
        url('../fonts/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


  @media (max-width: 480px) {
    h1,h2 {
        font-size: 2rem;
        letter-spacing: -2px;
    }
    h2 {
        letter-spacing: -1px;
    }
    ul {
        li {
            width: 100%;
        }
    }
    h2 {
        width: 100% !important;
        text-align: center;
    }
    p {
        text-align: center;
        margin: 0 auto;
    }
    .btn {
        font-size: 1.1rem;
        font-weight: 600;
    }
  }