.exercises-container {
    margin-bottom: 2rem;
    .filter-sidebar {
        background-color: #4c4c4c;
        border-radius: var(--standard-border-radius);
        color: white;
        padding: 20px;
        width: 15rem;
        font-family: 'Archivo', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            font-size: 2rem;
            text-align: center;
        }

        select {
            padding: 0.5rem;
            border-radius: var(--standard-border-radius);
            width: 100%;
        }

        .personal-trainer-options {
            display: flex;
            justify-content: center;
            gap: 1rem;

            input[type='radio'] {
            width: 2rem;
            height: 2rem;
            accent-color: var(--primary-color);
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
            }

            label {
            font-size: 1.5rem;
            }
        }
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        .search-bar {
            position: relative;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                left: 0.5rem;
            }
            .form-group {
                input {
                    background-color: var(--primary-color);
                    color: white;
                    padding: 0.5rem;
                    padding-left: 2.5rem;
                    border-radius: var(--large-border-radius);
                    width: 30rem;
                    max-width: 100%;
                    box-sizing: border-box;
                }
                .form-text {
                    position: absolute;
                    left: 0.5rem;
                    bottom: -1.5rem;
                    color: red;
                    font-size: 0.8rem;
                }
            }
            button {
                position: absolute;
                right: 0.5rem;
            }
        }
        .search-items {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            width: 100%;
            justify-content: center;
        }
    }
    .motivation-container {
        max-width: 65%;
        margin: 0 auto;
        margin-top: 1.5rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        display: flex;
        padding: 1rem;
        border-radius: var(--standard-border-radius);
        .author {
            position: relative;
            img {
                width: 30rem;
            }
            margin-right: 1rem;
            p {
                position: absolute;
                background-color: var(--tertiary-color);
                bottom: 0;
                left: 1rem;
                padding: 0.5rem;
                border-radius: var(--standard-border-radius);
                font-weight: bold;
            }
            border-right: 1px solid var(--secondary-color);
            padding-right: 2rem;
        }
        .motivation-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            h2 {
                display: block;
                text-align: center;
                font-family: 'Archivo', sans-serif;
                font-size: 2rem;
                width: auto;
                font-weight: 600;
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 1.5rem;
                font-family: 'Work Sans', sans-serif;
            }
            button {
                &:hover {
                    color: var(--primary-color);
                }
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 992px) {
    .exercises-container {
        h1 {
            font-size: 3rem;
            text-align: center;
            letter-spacing: -2px;}
        .filter-sidebar {
            width: 100%;
        }
        form {
            .search-items {
                justify-content: start;
                flex: 2;
                .col-sm-7 {
                    flex: 1;
                }
            }
        }
        
    }
}

@media (max-width: 576px) {
    .exercises-container {
        max-width: 100%;
        form {
            .search-bar {
                display: flex;
                flex-direction: column;
                position: relative;
                svg {
                    top: 21%;
                    transform: translateY(-50%);
                }
                input {
                    width: 20rem;
                }
                .btn {
                    position: relative;
                    width: 100%;
                    margin-top: 1rem;
                    padding: 0.5rem;
                }
            }
            
        }
        .toggle-filters-btn {
            border-radius: var(--standard-border-radius);
            margin-top: 1rem;
        }
        .filter-sidebar {
            transition: all 0.3s ease;
            width: 100%;
            overflow: hidden;
            h3 {
                display: none;
            }
            &.mobile-filter {
                max-height: 0;
                padding: 0;
            }
            &.mobile-filter.open {
                max-height: 1000px; 
                padding: 1rem;
            }
        }
        .motivation-container {
            max-width: 100%;
            .author  {
                border-right: none;
                margin: 0;
                padding: 0;
                img {
                    width: 100%
                }
                p {
                    bottom: 5%;
                }
            }
            .motivation-text {
                h2 {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    padding: 0;
                }
            }
        }
    }
}
