  <section class="exercises-container">
    <h1>Vind een oefening die bij je past!</h1>
    <form [formGroup]="form" (ngSubmit)="onSearchSubmit()">
      <div class="search-bar d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 20 20" fill="none">
          <path fill="white" fill-rule="evenodd" d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"/>
        </svg>
        <input type="text" formControlName="query" placeholder="Zoek een gym" class="form-control" required />
        <button class="btn" type="submit">Zoeken</button>
      </div>
      <div class="filter-sidebar">
          <h3>Filters</h3>

          <label for="difficulty">Kies een moeilijkheid</label>
          <select id="difficulty" formControlName="difficulty">
            <option *ngFor="let difficulty of difficulties" [value]="difficulty.name">{{ difficulty.name }}</option>
          </select>

          <label for="targetMuscleGroup">Kies een doelgroep</label>
          <select id="targetMuscleGroup" formControlName="targetMuscleGroup">
            <option *ngFor="let group of targetMuscleGroups" [value]="group.name">{{ group.name }}</option>
          </select>
          <button type="button" class="reset-btn btn" (click)="resetFilters()">Reset filters</button>
        </div>
    </form>
    <div class="motivation-container">
      <div class="author d-flex flex-column">
        <img src="{{ randomMotivation.image }}" alt="{{ randomMotivation.author }}">
        <p>{{ randomMotivation.author }}</p>
      </div>
      <div class="motivation-text">
        <h2>{{ randomMotivation.text }}</h2>
        <p>Begin je avontuur met een simpele klik!</p>
        <button class="btn" type="submit">Zoeken</button>
      </div>
      
    </div>
  </section>