
<div class="admin-dashboard-container">
  <h1>Admin Dashboard</h1>
<div class="admin-container">
    <nav>
  <ul>
    <li><a [routerLink]="['/admin/categories']">Manage Categories</a></li>
    <li><a [routerLink]="['/admin/gyms']">Manage Gyms</a></li>
    <li><a [routerLink]="['/admin/add-gym']">Add Gym</a></li>
    <li><a [routerLink]="['/admin/add-exercise-category']">Add Exercise Category</a></li>
    <li><a [routerLink]="['/admin/add-exercise']">Add Exercise</a></li>
  </ul>
</nav>
</div>
</div>



<router-outlet></router-outlet>