
<div class="admin-dashboard-container">
  <h1>Admin Dashboard</h1>
  <div class="admin-container">
      <nav>
        <ul>
          <li><a [routerLink]="['/admin/categories']">Categorieën beheren</a></li>
          <li><a [routerLink]="['/admin/add-gym']">Gym toevoegen</a></li>
          <li><a [routerLink]="['/admin/add-exercise-category']">Oefeningen categorie beheren</a></li>
          <li><a [routerLink]="['/admin/add-exercise']">Oefening toevoegen</a></li>
        </ul>
      </nav>
  </div>
</div>
<router-outlet></router-outlet>