.gym-detail-container {
        .login-message {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 1rem;
            font-family: "Archivo", sans-serif;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
        .comments-section-container {
            margin-bottom: 4rem;
            & .comments-content {
                width: 100%;
                max-width: var(--max-width);
                margin: 0 auto;
                .first-comment-text {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    padding: 1rem;
                    border-radius: var(--standard-border-radius);
                    margin: 1rem auto;
                    display: flex;
                    justify-content: center;
                    text-align: center;
    
                }
            }
            .comments-list {
                & .comment {
                    & .comment-content {
                        border:solid 1px var(--primary-color);
                        border-radius: var(--standard-border-radius);
                        padding: 1rem;
                        font-family: "Archivo", sans-serif;
                        & h3 {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            font-family: "Archivo", sans-serif;
                            flex-wrap: wrap;
                            & strong {
                                background-color: var(--primary-color);
                                color: var(--secondary-color);
                                padding: 0.5rem;
                                border-radius: var(--standard-border-radius);
                            }
                        }
                        & img {
                            width: 5rem;
                            height: 5rem;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .add-comment-form {
                    border:solid 1px var(--primary-color);
                    border-radius: var(--standard-border-radius);
                    padding: 1rem;
                    & .btn-submit {
                        font-size: 1.5rem;
                        font-family: "Archivo", sans-serif;
                        background-color: var(--secondary-color);
                        border:solid 1px var(--primary-color);
                        padding: 1rem;
                        border-radius: var(--standard-border-radius);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:0 auto;
                        margin-top: 1.5rem;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: var(--primary-color);
                            color: var(--secondary-color);
                            transform: translateY(-0.5rem);
                            transition: all 0.3s ease;
                            box-shadow: 0px 14px black;
                        }
                    }
                    .user-information {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        & img {
                            width: 5rem;
                            height: 5rem;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .title-container {
                        display: flex;
                        flex-direction: column;
                        & label {
                            font-size: 1.5rem;
                            font-family: "Archivo", sans-serif;
                        }
                        & input {
                            background-color: var(--primary-color);
                            color: var(--secondary-color);
                            padding: 1rem;
                            border-radius: var(--standard-border-radius);
                            font-family: "Archivo", sans-serif;
                        }
                    }
                }
                & .comment-container {
                    display: flex;
                    flex-direction: column;
                    & label {
                        font-size: 1.5rem;
                        font-family: "Archivo", sans-serif;
                    }
                    & textarea {
                        background-color: var(--primary-color);
                        color: var(--secondary-color);
                        padding: 1rem;
                        border-radius: var(--standard-border-radius);
                        font-family: "Archivo", sans-serif;
                    }
                }
                & .comment-content {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 1rem;
                }
            }
            
        }
        .gym-pricing {
            width: 100%;
            max-width: var(--max-width);
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            h2 {
                background-color: var(--white);
                secondary-color: var(--primary-color);
                color: var(--primary-color);
            }
            & .save-btn {
                background-color: var(--primary-color);
                color: var(--secondary-color);
                font-family: "Archivo", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10rem;
                padding: 1rem;
                margin: 0 auto;
                border-radius: var(--large-border-radius);
                transition: all 0.3s ease;
                border: solid 1px var(--primary-color);

                &:hover {
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    transition: all 0.3s ease;
                    transform: translateY(-0.5rem);
                    box-shadow: 0px 14px black;
                    border: solid 1px var(--primary-color);
                }

            }
            ul {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    & li {
                        width:18rem;
                        background-color: var(--primary-color);
                        color: var(--secondary-color);
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: var(--standard-border-radius);
                        height: 15rem;
                        text-align: center;
                        & h3 {
                            font-size: 1.5rem;
                            font-family: "Archivo", sans-serif;
                            text-transform: uppercase;
                            padding-bottom: 1rem;
                        }
                       
                    }
                }
                p{
                    &.gym__trainer{
                        display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3.4rem;
                    font-family: "Archivo", sans-serif;
                    & svg {
                        width: 3rem;
                        height: 3.5rem;
                    }
                    }
                    
                }
        }
        .general-information {
            h2 {
                text-align: center;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--white);
                color: var(--primary-color);
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
            ul {
                width: 100%;
                max-width: var(--max-width);
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;
                padding: 0;
                list-style: none;

                li {
                    background-color: var(--secondary-color);
                    padding: 1rem 1.5rem;
                    border-radius: var(--standard-border-radius);
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
                    transition: transform 0.2s ease;

                    &:hover {
                    transform: translateY(-5px);
                    }

                    p {
                    font-size: 1.2rem;
                    font-family: 'Archivo', sans-serif;
                    color: var(--primary-color);
                    margin: 0.3rem 0;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    strong {
                        text-decoration: underline;
                        font-weight: bold;
                    }

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: var(--primary-color);
                    }
                    }
                }
            }
        }

        .gym-detail__description {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            font-family: "Archivo", sans-serif;
            ul {
                width: 100%;
                max-width: var(--max-width);
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 5%;
                align-items: baseline;
                margin: 0 auto;

                li {
                    height: 17rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    h2 {
                        font-size: 3.7rem;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        border-bottom: 1px solid var(--secondary-color);
                        padding-bottom: 0rem;
                        line-height: 1.6;
                        
                        & svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    p {
                        font-size: 1.2rem;
                        padding-top: 1rem;
                        width:20rem;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
        }
    .gym-detail__hero {
         width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        .gym-gallery {
            padding-bottom: 4rem;
            display: grid;
            grid-template-columns: 30rem 20rem 30rem;
            grid-template-rows: 20rem 20rem;
            gap: 1rem;
            grid-row-span: 2;
            justify-content: center;
            align-items: center;
            & img {
                width:100%;
                height: 100%;                    
                object-fit: cover;
                border-radius: var(--standard-border-radius);

                &:nth-child(5) {
                    grid-column: 3;
                    grid-row:2;
                }
                &:nth-child(2) {
                    grid-row : span 2;
                }

            }
        }
    }

@media (max-width: 1024px) {

    .gym-detail-container {
        & .gym-detail-content {
            & .gym-detail-content__hero {
                & .gym-gallery {
                    grid-template-columns: 20rem 20rem;
                    grid-template-rows: 20rem 20rem 20rem;
                    gap: 1rem;
                    & img {
                        width:100%;
                        height: 100%;                    
                        object-fit: cover;
                        border-radius: var(--standard-border-radius);
                        &:nth-child(5) {
                            grid-column: 2;
                            grid-row:3;
                        }
                        &:nth-child(2) {
                            grid-row : span 2;
                        }
                    }
                }
            }
            & .gym-detail__description {
                & ul {
                                    max-width: 100%;
                                    gap:0rem;
                    & li {
                        padding: 1.5rem;
                        & h2 {
                            font-size: 2.5rem;
                        }
                        & p {
                            width:16rem
                        }
                    }
                }
            }
        }
    }
   }

   @media (max-width: 576px) {
    .gym-detail-container {
    .gym-gallery {
            display: flex;
            justify-content: start;
            overflow-x: auto;
            gap: 1rem;
            overscroll-behavior-inline: contain;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            -ms-overflow-style: none;  
            &::-webkit-scrollbar {
                display: none;
            }
            & img {
                flex: 0 0 auto;    
                width: 200px;
                aspect-ratio: 1 / 1;      
                scroll-snap-align: start;
            }
        }
    }
    .gym-detail__description {
        & ul {
            max-width: 100%;
            gap:0rem;
            display: flex;
            flex-direction: column;
            & li {
                padding: 1rem;
                height: 12rem;
                & h2 {
                    font-size: 1.5rem;
                    align-items: center;
                    padding-bottom: 0.5rem;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                & p {
                    width:17rem
                }
            }
        }
    }
    .general-information {
        & h2 {
            font-size: 1.5rem;
            padding: 1rem;
        }
        & ul {
            text-align: center;
            display: flex;
            flex-direction: column;
            & li{
                & p {
                    font-size: 1rem;
                }
            }
        }
    }
    .gym-pricing {
        h2 {
            font-size: 1.5rem;
        }
        & ul {
            gap: 0rem;
            flex-direction: column;
            gap: 1rem;
            & li {
                width: 100%;
            }
        }
        .save-btn {
            margin-bottom: 1rem;
        }
    }
    .comments-section-container  {
        width: 100%;
        padding: 0;
        .comments-content {
            .comments-list {
                .comment-content {
                    p {
                        margin: 0;
                        text-align: start;
                    }
                }
            }
        }
    }
}


